on post-fs-data
    mkdir /data/ssh 0700 root shell
    mkdir /data/ssh/empty 0600 root shell

on property:sys.boot_completed=1 && property:persist.sshd.enabled=1
    start sshd

on property:persist.sshd.enabled=0
    stop sshd

service sshd /system/bin/sshd -f /data/ssh/sshd_config -D
    user root
    group root
    oneshot
    disabled
